/* Colors */
:root {
    --color-white: rgb(255, 255, 255);
    --color-light-grey: rgb(246, 246, 246);
    --color-light-grey-20: rgb(122, 122, 131);
    --color-light-green: rgb(240, 249, 250);
    --color-black-50: rgb(49, 49, 49);
    --color-black-40: rgb(40, 47, 48);
    --color-black-30: rgb(32, 32, 32);
    --color-black-20: rgb(19, 20, 21);
    --color-black-10: rgb(22, 22, 22);
    --color-black-0: rgb(0, 0, 0);
    --color-blue: rgb(18, 122, 254);
    --color-blue-20: rgb(28, 28, 234);
    --blue-linear-gradient: linear-gradient(131.45deg, #20a7fe, #003aff);
}

/* Fonts */
:root {
    --font-family-open-sans: "Open Sans", Roboto, Helvetica, Arial, sans-serif;

    --font-weight-normal: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;

    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-21: 21px;

    --line-height-size-1: .95;
    --line-height-size0: 1;
    --line-height-size1: 1.05;
    --line-height-size2: 1.1;
    --line-height-size3: 1.15;
    --line-height-size4: 1.2;
    --line-height-size5: 1.25;
}



/* FLOW ratios */
:root {
    /* ratio: 1.2; */
    --size-5: 4.82px;
    --size-4: 5.78px;
    --size-3: 6.94px;
    --size-2: 8.33px;
    --size-1: 10px;
    --size0: 12px;
    --size1: 14.4px;
    --size2: 17.28px;
    --size3: 20.74px;
    --size4: 24.8832px;
    --size5: 29.86px;
    --size6: 35.83px;
    /* create more if you need them */
}