:root {
  --font-family: 'Open Sans', Roboto, Helvetica, Arial, sans-serif;
  --max-width: 80rem;

  /* PADDING */
  --p-0: 0;
  --p-1: 0.75rem;
  --p-3: calc(0.75rem * 3);
  --p-2: calc(0.75rem * 2);
  --p-4: calc(0.75rem * 4);
}
