@import url(ongoing-releases/shared/styles/variables.css);

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--font-family-open-sans);
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  background: var(--color-black-50);
  padding: 0 20px 80px;
  margin-top: auto;
  width: 100%;
  color: white;
}

.table-section {
  max-width: 1008px;
  margin: 0 auto;
}

.table__header {
  padding: 20px 0;
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: space-between;
}

.table__header span {
  color: var(--color-black-60);
}

.table__list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  border-bottom: 1px solid var(--color-black-60);
  padding: 5px 0;
  flex-basis: 21rem;
  flex-grow: 1;
  display: flex;
}

.item-img {
  display: inline-block;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  margin-right: 10px;
  align-self: flex-start;
}

.list-description {
  display: flex;
  flex-direction: column;
}

.item-title {
  margin-bottom: 3px;
}

.item-name {
  display: none;
}

.item-chapter,
.last-updated,
.item-type {
  color: var(--color-white-11);
  font-size: 14px;
  line-height: 1.3;
}

footer {
  width: 100%;
  padding: 18px 22px;
  background: var(--color-black-0);
}

.footer-section {
  max-width: 1008px;
  margin: 0 auto;
}

a {
  display: inline-block;
}

a,
p {
  text-decoration: none;
  color: var(--color-white-10);
}

.logo-container {
  display: none;
}

.logo-title {
  margin-left: 8px;
  font-size: 1.125rem;
  letter-spacing: 1.29px;
  text-transform: uppercase;
}

.ft-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.ft-main-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.ft-main-items + .ft-main-items {
  margin-left: 48px;
}

.ft-item {
  font-size: 13px;
  margin-bottom: 19px;
}

.ft-download-links {
  margin: 15px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.ft-download-links a img {
  display: inline-block;
  height: 34px;
  width: 116px;
}

.ft-download-links a {
  margin-top: 10px;
}

.ft-download-links a + a {
  margin-left: 10px;
}

.ft-social-links {
  display: flex;
}

.social-link ~ .social-link {
  margin-left: 20px;
}

.social-icon i {
  display: inline-block;
  color: white;
  font-size: 30px;
  margin-top: 10px;
}

.copy-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.copy-right * {
  margin: 22px 0 8px 0;
}

.logo {
  width: 31px;
  height: 37px;
}

.copy-right p {
  font-size: 12px;
}

@media (min-width: 747px) {
  .table {
    padding: 0 45px 100px;
  }
}

@media (min-width: 900px) {
  .table__header span {
    display: none;
  }

  .table__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .list-item {
    flex-basis: auto;
    flex-grow: 0;
  }

  .list-description {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .last-item-info {
    flex-basis: 350px;
    display: flex;
    justify-content: space-between;
  }

  .item-title,
  .item-chapter {
    flex-grow: 1;
  }

  .item-title {
    font-size: 15px;
  }

  .item-chapter {
    color: white;
    font-size: 14px;
  }

  .item-type {
    display: none;
  }

  .item-name {
    display: inline-block;
    font-size: 14px;
  }

  .last-updated {
    font-size: 13.2px;
  }

  footer {
    padding: 55px 33px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .ft-bottom {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .ft-main {
    margin-left: 120px;
  }

  .ft-item {
    font-size: 16px;
  }

  .ft-download-links {
    margin: 15px 0 15px 0;
  }

  .copy-right p {
    margin-top: 35px;
  }

  .copy-right .logo {
    display: none;
  }
}

@media (max-width: 250px) {
  .ft-main {
    flex-direction: column;
    align-items: center;
  }

  .ft-main-items + .ft-main-items {
    margin-left: 0px;
  }

  .ft-download-links {
    flex-direction: column;
    align-items: center;
  }

  .ft-download-links a + a {
    margin-left: 0px;
  }

  .ft-social-links {
    flex-direction: column;
    align-items: center;
  }

  .social-link ~ .social-link {
    margin-left: 0px;
  }

  .copy-right {
    margin-top: 40px;
    flex-direction: column;
  }

  .copy-right * {
    margin: 10px 0 8px 0;
  }
}
