<section class="completed max-width margin-auto">
      <h2 class="completed__heading font-weight-semi-bold font-size-21">
        Completed
      </h2>
      <div class="completed__wrapper">
        <article class="card-info">
          <figure class="card-info__figure">
            <img
              src="./assets/images/completed/xmb.avif"
              alt="image"
              class="card-info__img"
            />
            <figcaption class="card-info__caption font-size-14">
              Free
            </figcaption>
          </figure>
          <div class="card-info__content">
            <h3 class="card-info__heading font-size-16 font-weight-semi-bold">
              Immortal Devil Transformation
            </h3>
            <div class="card-info__rating font-size-14">
              <span>
                <img
                  src="./assets/images/completed/icon-like.svg"
                  alt="icon-like"
                />
              </span>
              <span>84%</span>
            </div>
            <p class="card-info__description font-size-14 line-height-size5">
              Sixty years ago, a middle-aged uncle entered Central Continent's
              Imperial City, bringing with him a qilin that looked like a sick
              dog and a mandarin duck. That year, this middle-aged uncle made
              his way through the Sea of Mountains, passed through Four Season
              Plains, and then entered Green Luan Academy. Sixty years later,
              Lin Xi, a carefree seventeen or eighteen year old youngster,
              traveled from Deerwood Town through half of Yunqin Empire in a
              shabby carriage, heading north towards Green Luan Academy. This is
              a story about empire and glory, loyalty and betrayal, youth and
              hot-bloodedness, a story of a young man who sees the world through
              a different perspective in a powerful cultivation academy.
            </p>
            <a
              href=""
              class="card-info__link font-weight-semi-bold font-size-16"
              >More</a
            >
          </div>
        </article>
        <div class="cards">
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
          <article class="card">
            <a href="#" class="card__picture">
              <img
                src="./assets/images/completed/col.webp"
                alt="image"
                class="card__img"
              />
            </a>
            <div class="card__content">
              <a href="#" class="item__heading-link">
                <h3 class="card__heading font-size-12 font-weight-normal">
                  Child of Light
                </h3>
              </a>
              <span class="card__category font-size-12">Action</span>
              <div class="card__stat">
                <img
                  src="./assets/images/completed/icon-like-gray.svg"
                  alt="icon-like"
                  class="card__icon"
                />
                <span class="card__count font-size-12">74%</span>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>