.container {
  width: 100%;
  background-color: red;
  display: flex;
}

.nav {
  padding-inline: var(--p-1);
  min-height: 72px;
  display: flex;
  align-items: center;
}

.tablet {
  display: block;
}

.desktop {
  display: none;
}

/* desktop */
@media screen and (min-width: 900px) {
  .desktop {
    display: block;
  }

  .tablet {
    display: none;
  }
}
