<nav class="container">
  <div class="max-width margin-auto nav">
    <div class="logo">
      <image></image>
      <span>WUXIAWORLD</span>
    </div>
    <div class="desktop">
      <a>Series</a>
      <a>Bookmarks</a>
      <a>Resources</a>
    </div>
    <div class="desktop push-right">
      <input class="search" type="search" placeholder="Search" />
      <button>
        <image></image></button
      ><button>
        <image></image></button
      ><button>
        <image></image>
      </button>
    </div>
    <div class="tablet push-right">
      a
      <button>
        <image></image></button
      ><button>
        <image></image></button
      ><button>
        <image></image>
      </button>
    </div>
  </div>
</nav>
