<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/6a4d0636fa.js"
      crossorigin="anonymous"
    ></script>
    <title>Wuxia popular this week</title>
    <link rel="stylesheet" href="./css/popular.css" />
  </head>

  <body>
    <div class="container">
      <div class="popular__section">
        <div class="popular__heading">
          <h3>Popular This Week</h3>
        </div>
        <div class=" popular__btn">
          <button class="btn popular__btn--active "><i class="fas fa-angle-left"></i></button>
          <button class="btn"><i class="fas fa-angle-right "></i></button>
        </div>
      </div>
    </div>
    <div class="container popular__images">
      <figure class="popular__images--block">
        <img src="./images/pic.png" alt="overgearder" class="pic" />
        <div class="popular__text--block">Ongoing</div>
        <div class="popular__text--number">1</div>
        <figcaption class="popular__images--caption">
          <p class="popular__caption--title">Overgeared</p>
          <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
        </figcaption>
      </figure>
        <figure class="popular__images--block">
          <img src="./images/pic.png" alt="overgearder" class="pic" />
          <div class="popular__text--block">Ongoing</div>
          <div class="popular__text--number">2</div>
          <figcaption class="popular__images--caption">
            <p class="popular__caption--title">Overgeared</p>
            <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
          </figcaption>
        </figure>
        <figure class="popular__images--block">
          <img src="./images/pic.png" alt="overgearder" class="pic" />
          <div class="popular__text--block">Ongoing</div>
          <div class="popular__text--number">3</div>
          <figcaption class="popular__images--caption">
            <p class="popular__caption--title">Overgeared</p>
            <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
          </figcaption>
        </figure>
        <figure class="popular__images--block">
          <img src="./images/pic.png" alt="overgearder" class="pic" />
          <div class="popular__text--block">Ongoing</div>
          <div class="popular__text--number">4</div>
          <figcaption class="popular__images--caption">
            <p class="popular__caption--title">Overgeared</p>
            <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
          </figcaption>
        </figure>
        <figure class="popular__images--block">
          <img src="./images/pic.png" alt="overgearder" class="pic" />
          <div class="popular__text--block">Ongoing</div>
          <div class="popular__text--number">5</div>
          <figcaption class="popular__images--caption">
            <p class="popular__caption--title">Overgeared</p>
            <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
          </figcaption>
        </figure>
        <figure class="popular__images--block">
          <img src="./images/pic.png" alt="overgearder" class="pic" />
          <div class="popular__text--block">Ongoing</div>
          <div class="popular__text--number">6</div>
          <figcaption class="popular__images--caption">
            <p class="popular__caption--title">Overgeared</p>
            <p class="popular__caption---likes"><i class="fa-regular fa-thumbs-up"></i> 88%</p>
          </figcaption>
        </figure>
    </div>
    <script src="./js/popular.js"></script>
  </body>
</html>
