<div class="popular " >
<div class="popular__section">
    <div class="popular__heading">
    <h3>Popular This Week</h3>
    </div>
    <div class=" popular__btns" id="parentBtn">
    <button class="popular__btn popular__btn--active " id="btn-left"><i class="fas fa-angle-left"></i></button>
    <button class="popular__btn"id="btn-right"><i class="fas fa-angle-right "></i></button>
    </div>
    
</div>
</div>
<div class="slider">
<div class="popular popular__images" id="popularImages"></div>
</div>