@import url('../shared/styles/main.css');

.ongoing-releases {
}

.title {
  background: var(--color-black-30);
  color: var(--color-white);
  padding: 1.2rem;
}

.wrapper {
  background: var(--color-black-40);
  padding: 20px 20px 0px;
}

.standout-card {
  border-radius: 10px;
  background: var(--color-black-20);
  padding: 21px 8px 67px;
  margin-bottom: 22px;
}

.standout-card__image {
  display: block;
  margin: 0 auto 16px;
  border-radius: 5px;
  width: 111px;
}

.standout-card__title {
  color: var(--color-white);
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: 700;
  margin-bottom: 18px;
}

.standout-card__desc {
  color: var(--color-light-grey);
  text-align: center;
  margin-bottom: 14px;
}

.show-more {
  display: block;
  color: var(--color-light-grey);
  text-align: center;
}

.list-of-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(101px, 1fr));
  justify-content: center;
}

.card {
  margin-bottom: 24px;
  margin-right: 14px;
}

.card__img {
  height: 148px;
  margin: 0 auto 9px;
}

.card__title {
  display: block;
  color: var(--color-light-green);
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
}
