<div class="annoucement">
    <div class="header">
        <div class="header__image_container">
            <img id="header_image"
                src="https://cdn.wuxiaworld.com/avatars/jaspaaar.jpg?ver=02f31023e348ff4240d086c413bc990dcdd62e35"
                class="header__image_container__image" alt="Annoucement Image" />
        </div>
        <div class="header__text">
            <div class="header__text__title">
                <svg width="11" height="13" viewBox="0 0 11 13" xmlns="http://www.w3.org/2000/svg"
                    class="mr-[4px] inline">
                    <g fill="none" fill-rule="evenodd">
                        <path stroke="CurrentColor" stroke-width="2" stroke-dasharray="0,0" d="M5.5 8.333V13">
                        </path>
                        <path
                            d="M1.453 0h8.161v1.568h-1.01V5.74C10.203 6.836 11 7.653 11 8.19c0 .54-.798.809-2.395.809H2.4C.8 9 0 8.787 0 8.36c0-.425.8-1.299 2.4-2.62V1.569h-.947V0z"
                            fill="#fff">
                        </path>
                    </g>
                </svg>
                <span class="header__text__title__content">
                    Damn Reincarnation and Past Life Returner are Here!
                </span>
            </div>
            <div class="annoucement__text__desc">
                Hi everyone, it's a bit of a belated announcement, but Damn Reincarnation and Past Life Returner are
                live! Both already have 34 chapters available to read and will be released at a pace of one chapter per
                day. Meanwhile behind the scenes, we're continuing to license and begin work on a range of new content.
                <br><br>
                Damn Reincarnation: Three hundred years ago the hero Vermouth and his companions went on an adventure to
                slay the five Demon Kings of Helmuth. After slaying three of the five, the hero’s party lost one of
                their comrades and returned after signing a mysterious treaty that has granted at least three hundred
                years of peace.
                This is the story of their poor comrade Hamel, who constantly played second-string to the great hero
                Vermouth, and even in death has been portrayed as a caricature of himself in the legends about the hero.
                <br><br>
                Three hundred years after his death, Hamel is reborn as Eugene Lionheart, one of the many descendants of
                Vermouth Lionheart. Being reborn as the descendant of his greatest rival and being forced to go through
                puberty once more, might just be the greatest indignity that Hamel has ever faced. But on the plus side,
                Eugene now has a body that makes his old one look like a tractor next to a supercar.
                <br><br>
                Eugene might be brash, rude, and kind of a dick, but he has a good heart, and that makes you want to
                cheer for him. He also has big goals. Now that he has a headstart, Eugene wants to surpass the strength
                he had in his previous life. He also wants to find out what happened to his old friends, see if there
                was a reason why he was reincarnated, and eventually he wants to wipe out every last demon remaining.
                <br><br>
                Past Life Returner: PLR is an economic fantasy novel that anyone can enjoy reading. It’s about the
                Awakened, Seon-Hu, who risks his life and is reborn to fight against the Eight Evils, Eight Virtues, and
                monsters in order to save humanity. PLR vividly describes how Seon-Hu walks through his past, but this
                time with the knowledge he had from his previous life to build his empire and face the Day of Advent –
                the apocalypse. Seon-Hu strategically dominates the stock market, in which the plot aligns with actual
                economic history and easy-to-understand descriptions to punch things up.
                <br><br>
                PLR was completed by the author Na Min-Chae in 2019 and is loved by thousands of readers in Korea. It’s
                a blend of modern setting fantasy, action, and realistic economic transactions. It’s become so popular
                that it has become a webtoon in Korea. It’s obvious that the author is skilled in writing and
                knowledgeable enough to make his audience want more. Make sure you don’t miss the chance to read this
                blockbuster!
                <br><br>
                These also happen to be the first two Korean series that we're releasing with English covers at launch!
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="footer__toggle">
            More
        </div>
        <div class="footer__content">
            <div class="footer_content__user">
                <div class="footer_content__user__author">
                    by Jaspaar
                </div>
                <div class="footer_content__user__days">
                    2 days ago
                </div>
            </div>
            <div class="footer_content__comment">
                
            </div>
        </div>
    </div>
</div>